.header-bar {
  text-align: center;
  display: flex;
  flex-direction: column; 
  background-color: #006aa7 ;
  color: white;
  padding: 15px;
}
.header-bar h1 {
  font-size: 2.5em;
  font-family: 'Roboto', sans-serif;
}
.header-bar h2 {
  font-size: 1.25em;
  font-family: 'Roboto', sans-serif;
  color: #fecc00;
}

.header-bar button {
  width: 20%;
  align-self: center;
  background-color: #fecc00;
  color: white;
  margin-top: 10px;
  border: none;
  padding: 0.5em;
  font-size: 1em;
  transition: 0.2s;
}

.header-bar button:hover {
  width: 23%;
  background-color: #fecc00;
  transition: 0.2s;
  cursor: pointer;
}